{% extends 'base.html' %}

{% block title %}Active Learning{% endblock %}

{% block content %}



<section>
    <h2>Active Learning and Labeling</h2>
    <p>Review the data frames and assign labels as part of the active learning process.</p>

    
    <label for="data_frame">Data Frame:</label>
    <script src="/static/active_learning.js"></script>
    <div id="video_frame_container">
        <!-- Video frame will be loaded here -->
        
    </div>
    <button id="playButton">Play</button>
    <button id="pauseButton">Pause</button>
    <script src="/static/video_labeler.js"></script>

    <br>
    
    <div id="labelListContainer">
        <table>
            <tr>
                {% for label in labels %}
                    <td>
                        <button type="button" class="label-button" data-label="{{ label }}" value="{{ label }}">{{ label }}</button>
                    </td>
                    {% if loop.index % 5 == 0 %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>

    <div id="plotContainer">
        <img id="plotImage" src="" alt="Plot" style="max-width:100%; height:auto;">
    </div>


    <script src="/static/label_script.js"></script>
    <br>
    <button type="button" id="addLabelButton">Add New Label</button>
    <script src="script.js"></script>
    <br>

    <script>
        function checkForCompletion() {
            fetch('/check_completion')
                .then(response => response.json())
                .then(data => {
                    if(data.completed) {
                        window.location.href = "/testing"; // Change to the appropriate URL for your testing page
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        
        setInterval(checkForCompletion, 3000); // Check every 3000 milliseconds (3 seconds)
        </script>
                
    
</section>

{% endblock %}
