{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section>
    <h2>About This Application</h2>
    <p>This application is designed to apply machine learning to your product!</p>
    <p>It aims to analyze your product & user behavior and provide you with insights into how you can improve your product.</p>
    <p>Here is a step-by-step guide that will help you to understand the process of machine learning and how it can be applied to design.</p>
    <p>Each step will guide you through a different part of the machine learning process, from setting up your data to testing your model.</p>
    <p>Click the 'Start' button to begin the process.</p>

</section>

<section>
    <!-- Start button within a form -->
    <form action="{{ url_for('start') }}" method="post">
        <button type="submit" id="startButton">Start</button>
    </form>
</section>

<section>
    <h2>Steps</h2>
    <p>Here are the steps you will go through in this application:</p>
    <p>We will guide you through each step carefully to help you understand what is happening at each stage.</p>
<section>
    <ol>
        
        <li>Setup</li>
        <li>Active Learning / Labelling</li>
        <li>Validating</li>
        <li>Testing</li>
        <li>Novelty Detection</li>
        <li>New Data Processing</li>
    </ol>
</section>
{% endblock %}
