{% extends 'base.html' %}

{% block title %}Setup{% endblock %}

{% block content %}
<section>
    <h1>Step 1: Setup & Preparation</h1>
    <p>Before we can start with the machine learning process, we need to set up some initial parameters.</p>
    <p>First we need to give your product a name. Please input the product name here:</p>

</section>
<section>
    <!-- Setup-specific content like forms for input goes here -->
    <form action="{{ url_for('setup') }}" method="post">
        <!-- Example: Input field for product name -->
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name" required><br><br>

        <p>Next we need to define how long each 'action' or behavior takes in seconds.
        Slow movements and longer actions should take longer than a product with very small and subtle movements</p>
        

        <!-- Input field for frame size with decimals allowed and range set -->
        <label for="frame_size">Time for each Action in seconds (Frame Size):</label>
        <input type="number" id="frame_size" name="frame_size" min="0" max="100" step="1" required><br><br>

        <!-- Input field for frame offset with decimals allowed and range set -->
        <label for="frame_offset">Overlay in seconds (Frame Offset):</label>
        <input type="number" id="frame_offset" name="frame_offset" min="0" max="100" step="0.5" required><br><br>
 
    
        <h2>Your expected behavior </h2>
        <p>To make the program understand what your product is doing we need to predefine some behavior that you've recorded in your data</p>
        <p>As an example you could add the following: Picking up, Walking, Putting down, Throwing, Jumping, Falling</p>
        <p>Please fill in the behavior you will expect for your product below [use the buttons if there's more than 3!]: </p>
                
        <!-- Preloaded Labels -->
        <div id="labelInputs">
            <div>
                <label for="label_1">Expected behavior 1:</label>
                <input type="text" id="label_1" name="label_1"><br><br>
            </div>
            <div>
                <label for="label_2">Expected behavior 2:</label>
                <input type="text" id="label_2" name="label_2"><br><br>
            </div>
            <div>
                <label for="label_3">Expected behavior 3:</label>
                <input type="text" id="label_3" name="label_3"><br><br>
            </div>
        </div>

        <!-- Label Control Buttons -->
        <div class="label-control-buttons">
            <button type="button" onclick="addLabelInput()">Add More</button>
            <button type="button" onclick="removeLabelInput()">Remove Last</button>
        </div>



        <br><br>
        <!-- Active Learning Iterations -->
        <h2>Learning iterations</h2>
        <p>We also need to set the amount of times you want to tell the Machine Learner what is happening with your product.<br>
        The more iterations the more accurate the model, but the more time it will take to finish 'training'!</p>
        <label for="active_learning_iterations">Learning Iterations:</label>
        <input type="number" id="active_learning_iterations" name="active_learning_iterations" required min="10" max="1000" step="10" value="10"><br><br>


        <p>If you've filled in all the setup fields you can click submit:</p>
        <!-- Submit Button -->
        <div class="submit-button">
            <input type="submit" value="Submit">
        </div>
    </form>
</section>
<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}
